services:
  api:
    build: .
    ports:
      - "0.0.0.0:8080:8080" 
    environment:
      - REDIS_HOST=redis
      - PG_HOST=localhost # ← PostgreSQL FUERA de Docker (tu máquina)
      - PG_PORT=5432
      - PG_DATABASE=shadow_moses
      - PG_USER=postgres
      - PG_PASSWORD=comexcare
      - PORT=8080 
    depends_on:
      - redis
    volumes:
      - ./logs:/app/logs
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:7-alpine    # ← Redis SÍ en contenedor
    ports:
      - "6379:6379"
    command: redis-server --save "" --appendonly no --stop-writes-on-bgsave-error no
